:root{
    --background_color:rgb(226, 225, 225);
    --primary_color: rgb(12, 80, 206);
    --second_color: rgb(237, 237, 237);
    --three_color: rgb(221, 221, 221);
    --four_color: rgb(10, 85, 225);
    background-color: var(--background_color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Usei um pocuo do gpt para aprender como usa o grap, keyframes, e :houver */

.body{
    margin: 0 auto;
    padding: 0 auto;
}

a{
    color: var(--second_color);
}

img{
    border-radius: 10px;
    width: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ajustado para centralizar os itens verticalmente */
    background-color: var(--primary_color);
    padding: 10px 20px;
    border-radius: 5px;
    margin: 1px;
}

.links {
    display: flex;
    gap: 10px;
    margin-left: auto; /* Empurra os links para a borda direita */
    justify-content: space-between;

}

#logo{
    border-radius: 5px;
    display: flex;
}

.recomend section{
    margin: 0 auto;
    display: flex;  
    justify-content: center;  
    align-items: center;      
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 5px;
    width: 90%;
    padding: 5px;
    flex-wrap: wrap;
}

.most_watched section{
    margin: 0 auto;
    display: flex;  
    justify-content: center;  
    align-items: center;      
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 5px;
    width: 90%;
    padding: 5px;
    flex-wrap: wrap;
}

.movie{
    display: flex;      
    flex-direction: column;      
    align-items: center;        
    background: var(--second_color);
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    padding: auto;
    transform: scale(0.95);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* houver e uma propidade do css para usar em animaçoes */
.movie:hover {
    transform: translateY(-10px); /* Muda o Y com O Hover*/
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

.content_movie{
    margin: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
    gap: 3px;
}

.content_movie img{
    width: 190px;
    height: 200px;
    display: flex;
    align-items: center;
    margin: 10px auto;
    display: block;
    object-fit: cover;
}


.content_movie button {
    background-color: var(--four_color);
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    border: 0;
    cursor: default;
    width: 100px;
}

#title_content{
    text-align: center;
    justify-content: center;
    justify-items: center;
}

#accont_Logo{
    width: auto;
}

footer{   
    bottom: 0;     
    align-items: center;
    justify-items: center;
}

footer a{
    color: var(--four_color);

}
